<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title A wait window
	// Решить проблему с min.css
	link(rel="stylesheet", href="css/libs.css")
	link(rel="stylesheet", href="css/fonts.css")
	link(rel="stylesheet", href="css/main.css")
body
	.page
		video.bgvideo(src='img/promo.mp4' muted)
		header.header
				.brand-logo
					img(src="img/logo.gif", alt="logo-mercedes")
				.time
					p 
		.main		
script(src="js/libs.min.js")
script(src="js/common.min.js")