body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #000; }

.page {
  height: 100%;
  overflow-x: hidden;
  font-family: Corporate, OpenSans, serif; }

.bgvideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  z-index: 1; }

.header {
  padding-top: 2em;
  padding-bottom: 2em; }
  .header .brand-logo {
    display: inline-block;
    float: left;
    margin-left: 5em; }
  .header .time {
    display: inline-block;
    color: white;
    margin-right: 2em;
    text-align: center;
    font-size: 3em;
    float: right; }

.main {
  margin: 0;
  padding-top: 5em; }
  .main .warning {
    position: relative;
    width: 70%;
    background-color: #fff;
    color: #000;
    margin-bottom: 0.5em;
    vertical-align: center;
    text-align: center;
    font-size: 3em;
    border-left: 0.2em solid #ccc;
    margin: auto; }
  .main .worker {
    display: inline-block;
    text-align: center;
    width: 43%;
    padding: 0; }
    .main .worker .worker-personal {
      margin-bottom: 3em; }
      .main .worker .worker-personal .worker-avatar {
        width: 6em;
        height: 6em; }
      .main .worker .worker-personal .worker-name {
        font-size: 1.8em;
        color: #fff; }
    .main .worker .worker-order {
      position: relative;
      width: 100%;
      background-color: #fff;
      color: #000;
      margin-bottom: 0.5em;
      height: 5em; }
      .main .worker .worker-order .order-details {
        vertical-align: center;
        font-size: 1.3em;
        border-left: 0.4em solid #ccc; }
        .main .worker .worker-order .order-details td {
          height: 4em;
          padding-left: 0.2em;
          padding-right: 0.2em;
          border-right: 0.01em solid #ccc; }
        .main .worker .worker-order .order-details td:last-child {
          border: none; }
        .main .worker .worker-order .order-details .car-number {
          width: 25%;
          padding-left: 2%;
          padding-right: 2%; }
          .main .worker .worker-order .order-details .car-number table {
            width: 100%; }
          .main .worker .worker-order .order-details .car-number td {
            height: 1em;
            width: 2em;
            border: 1px solid #ccc; }
          .main .worker .worker-order .order-details .car-number .region {
            font-size: 0.8em; }
          .main .worker .worker-order .order-details .car-number .flag {
            background-color: #ccc; }
        .main .worker .worker-order .order-details .condition {
          width: 45%; }
        .main .worker .worker-order .order-details .start-repair {
          width: 15%; }
        .main .worker .worker-order .order-details .finish-repair {
          width: 15%; }
