body, html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  background-color: #000; }

.page {
  height: 100%;
  overflow-x: hidden;
  font-family: Corporate, OpenSans, serif; }

.bgvideo {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  z-index: 1; }

.header {
  padding-top: 2em;
  padding-bottom: 2em; }
  .header .brand-logo {
    display: inline-block;
    float: left;
    margin-left: 5em; }
  .header .time {
    display: inline-block;
    color: white;
    margin-right: 2em;
    text-align: center;
    font-size: 3em;
    float: right; }

.main {
  margin: 0;
  padding-top: 5em; }
  .main .warning {
    position: relative;
    width: 70%;
    background-color: #fff;
    color: #000;
    margin-bottom: 0.5em;
    vertical-align: center;
    text-align: center;
    font-size: 3em;
    border-left: 0.2em solid #ccc;
    margin: auto; }
  .main .worker {
    display: inline-block;
    text-align: center;
    width: 43%;
    padding: 0; }
    .main .worker .worker-personal .worker-avatar {
      width: 6em;
      height: 6em; }
    .main .worker .worker-personal .worker-name {
      font-size: 2em;
      color: #fff; }
    .main .worker .worker-order {
      position: relative;
      width: 100%;
      background-color: #fff;
      color: #000;
      margin-bottom: 0.5em;
      height: 5em; }
      .main .worker .worker-order .order-details {
        vertical-align: center;
        font-size: 1.3em;
        border-left: 0.4em solid #ccc; }
        .main .worker .worker-order .order-details td {
          height: 4em;
          padding-left: 0.2em;
          padding-right: 0.2em;
          border-right: 0.01em solid #ccc; }
        .main .worker .worker-order .order-details td:last-child {
          border: none; }
        .main .worker .worker-order .order-details .car-number table {
          margin: auto;
          width: 5em; }
          .main .worker .worker-order .order-details .car-number table td {
            height: 1em;
            border: 1px solid #ccc; }
          .main .worker .worker-order .order-details .car-number table tr {
            width: 100%; }
          .main .worker .worker-order .order-details .car-number table .number {
            padding: 0 3px;
            font-size: 0.8em; }
          .main .worker .worker-order .order-details .car-number table .region {
            padding: 0 3px;
            font-size: 0.7em; }
          .main .worker .worker-order .order-details .car-number table .flag {
            background-color: #ccc; }
        .main .worker .worker-order .order-details .car-model {
          font-size: 0.7em;
          width: 20%; }
        .main .worker .worker-order .order-details .condition {
          width: 25%; }
        .main .worker .worker-order .order-details .start-repair {
          width: 15%; }
        .main .worker .worker-order .order-details .finish-repair {
          width: 15%; }
  .main .headers {
    position: relative;
    width: 100%;
    color: white;
    margin-bottom: 0.5em;
    vertical-align: center; }
    .main .headers td {
      padding-left: 0.8em;
      padding-right: 0.2em; }
    .main .headers .car-number {
      width: 25%; }
    .main .headers .car-model {
      width: 20%; }
    .main .headers .condition {
      width: 25%; }
    .main .headers .start-repair {
      width: 15%; }
    .main .headers .finish-repair {
      width: 15%; }

@media screen and (max-width: 1400px) {
  .main .worker .order-details {
    font-size: 1em; } }
